
*.ipch
*.db
Battleships library/.vs/Battleships library/v15/.suo
*.lastbuildstate
*.lastbuildstate
*.tlog
*.tlog
*.exe
*.exe
*.ilk
*.idb
*.obj
*.obj
*.log
*.pdb
Battleships_library/.vs/Battleships library/v15/.suo

Ships
.DS_Store
Ships
